<!DOCTYPE html>
<html lang="<%= config.language %>" class="loading">
<%- partial('_partial/head', null, {cache: true}) %>
<body class="loading">
  <%- partial("_partial/menu", null, {cache: true}) %>
  <%- partial('_partial/post/header', {cache: true}) %>
  <span id="config-title" style="display:none"><%= config.title %></span>
  <div id="loader"></div>
  <%- body %>
  <%- partial('_partial/scripts', null, {cache: true}) %>
</body>
</html>